/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Header
3.0 - Footer
4.0 - Body

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

h1 {
    font-size: 36px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 400;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
}

ol, ul {
    list-style: none;
}

.clear-float{
    clear: both;
}

.error-message{
    background: #e7505a;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.my-profile-pic{
    background: #ff0 !important;
    height:50px !important;
    width: 50px !important;
}

image{
    padding: 2%;
}

.clear-float{
    clear: both;
}
/* ============================================================================= 
2.0 Header
============================================================================= */
.menu{
    border-bottom: solid 1px #eeeeee;
}

.navbar-social{
    text-align: right;
}

.navbar-social li a{
    color: #FFFFFF;
    float: right;
}

.navbar-social li a:hover{
    color: #333333;
}

.slideshow{
    margin-top: 10px;
    background: #eeeeee;
    height: 450px;   
    overflow: hidden;
}

.slideshow h1{
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
}

.slideshow img{
    height:450px;
    width: 100%;
    z-index: 100;
}

.social-media{
    background: #333333;
}

.upper-bar{
    background: #eee;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.upper-bar .logo{
    font-size: 25px;
    font-weight: bold;
}

.upper-bar .info{
    font-size: 15px;
    font-weight: normal;
}

/*--------------------------------------------------------------
3.0 - Footer
--------------------------------------------------------------*/
.site-footer{
    background: #D4D4D4;
    background: hsl(37, 0%, 83%);
    margin-top: 10px;
    max-width: 100%;
}

.site-info{
    max-width: 100%;
    border-top: solid 1px;
    border-color: #C7C7C7;
    border-color: hsl(36, 0%, 78%);
    text-align: center;
    padding: 2em 0;
    color: #333333;
    color: hsl(0, 100%, 10%);
}

.site-info a{
    text-decoration: none;
    color: #333333;
    color: hsl(0, 100%, 10%);
   
}
.footer-navigation {
    font-family: 'Lato', sans-serif;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

/*--------------------------------------------------------------
4.0 - Body
--------------------------------------------------------------*/

.next{
    float: right;
}

.next a{
    color: #FFFFFF;
    font-weight: normal;
}

.title{
    float: left;
    text-transform: uppercase;
}

.product-cost{
    padding: 10px;
    height: 50px;
}

.product-crossed{
    padding: 10px;
    text-decoration: line-through;
}

.product-details{
    border-bottom: solid 1px #C7C7C7;
    padding: 7px;
}

.product-image{
    height: 100%;
    overflow: hidden;
    text-align: center;
    width: 100%;   
}

.product-image img{
    max-height: 100%;
    max-width: 100%;
    transition: 0.75s;
}

.product-image:hover img{
    transform: scale(1.2);
}

.product-item{
    border: solid 1px #eeeeee; 
    margin-bottom: 20px;
}

.product-name{
    background: #333333;
    color: #FFF;
    height: 30px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    
}

.product-name a{
    color: #FFFFFF;
    overflow: hidden;
    text-decoration: none;
}

.product-name a:hover{
    color: #FFFFFF;
    text-decoration: underline;
}

.product-title-bar{
    background: #004274;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    
}

.buying-form{
    float: left;
    margin-right: 50px;
}

.discount{
    border: solid 2px #eeeeee;
    float: left;
    margin-right: 50px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-decoration: line-through;
    max-width: 150px;
}

.price-selling{
    float: left;
    font-weight: bold;
    margin-right: 50px;
    padding-top: 2px;
}

.clear-float{
    clear: both;
}

li a .noofitems {
    /*border:solid 1px #999999;*/
    float:right;
    font-size: 10px;
    padding: 0px 2px 0px 2px;
    text-align: center;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}


.product-info{
    background: #eeeeee;
    margin: 0 auto;
}

.cart-details{
    background: #FFFFFF;
    border-bottom: solid 5px #eeeeee;
}

.prod_image{
    float: left;
    margin-left: 10px;
    width: 20%;

}

.prod_image img{
    width: 40px;
    padding: 2px;
}

.prod_details{
    float: left;
    font-weight: bold;
    padding: 3px;
}

.category_name{
    color:#999;
    font-weight: normal;
}

.category_name a{
    color:#999;
    font-weight: normal;
}

.product_prices{   
    font-size: 15px;
    padding: 1px;
}

.cart{
    font-size: 20px;
    font-weight: bold;
}

.cart-headers{
    color: #999999
    font-size: 14px;
    font-weight: bold; 
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase; 
}

.crossed{
    color: #999;
    font-size: 13px;
    text-decoration: line-through;
}

.saved{
    color: #7ed321;
    font-size: 12px;
}

.cart-product-details{
    border-top: solid 15px #eeeeee;
    padding: 5px;
}

.left-border{
    border-left: solid 1px #eeeeee;
}

.side-bars{
    border-right: solid 1px #eeeeee;
}

.input-xsmall{    
    border: none;
    border-bottom: solid 1px #eeeeee;
}

.greycol{

}

.address-header{
    border-bottom: solid 1px #eeeeee;
    font-weight: bold;
    margin-right: 2%;
    padding: 2%;
    width: 100%;
}

.address-header i{
    color: #7ed321;    
    padding-right: 25px;
}

.other-information{
    font-weight: normal;
}

.mobile-money img{
    width: 50px;
}

.prod_image_money img{
    width: 200px;
}

.input-button{
    background: #7ed321;
    background: #28a745;
    color: #FFFFFF;
    font-weight: bold;
    width: 40%;

}

.input-controls{
    padding: 2%;
}

.input-text{
    width: 40%;
}

#inner{
    display:inline-block;
    border:1px solid gray;
    font-weight: bold;
    width:100%;
    padding:10px;
    text-align: center;
    margin:30px auto;
    
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    
    box-shadow:5px 5px 15px #A0A0A0;
    -moz-box-shadow:5px 5px 15px #A0A0A0;
    -webkit-box-shadow:5px 5px 15px #A0A0A0;
}

.category-identifier{
    overflow: hidden;
}

.category-identifier img{
    width: 370px;
    padding: 3px;
}

.category-row{
    margin-top: 15px;
}

.advert img{
    padding: 2%;
    width: 98%;
}

.main-menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

.main-menu{
    z-index: 300;
}

.main-menu ul li{
    float: left;
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    text-align: center;;
    width: 150px;
    z-index: 100;
}

.main-menu ul li a{
    color: #666;
    display: block;;
    text-decoration: none;
    z-index: 100;
}

.main-menu ul li a:hover{
    background: #FFF;
    border: solid 1px #666666;
    color:#000;
    z-index: 100;
}

.main-menu ul li ul li{
    display: none;
    z-index: 100;
}

.main-menu ul li:hover ul li{
    background: #FFF;
    display: block;
    z-index: 100;
}

.main-menu ul li:hover ul li a{
    color: #333;
}


.about-title{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;

}

.cat-prod-body{
    margin-top: 20px;
}